* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;
    
}

.hero {
    background-color: skyblue;
}

.portfolio {
    background-color: pink;
}

.about {
    background-color: beige;
}

.contact {
    background-color: tomato;
}