* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    text-align: center;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

section {
    flex-grow: 1;

}

nav {

    background-color: rgb(90, 90, 90);
    display: flex;
    padding: 5px;
}

.hero {
    background-color: skyblue;
}

.portfolio {
    padding: 20px;
    background-color: pink;
}

.about {
    padding: 20px;
    background-color: beige;
}

.contact {
    padding: 20px;
    background-color: tomato;
}

.count {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 0 auto;
}

span {
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    margin: 5px auto;

}

.hamburger {
    margin: 0 0 0 auto;
}